{% extends 'base.html' %}

{% block title %}GrahamMorby.dev{% endblock %}

{% block main %}
<div class="row">
    <div class="col-md-12">
        <div class="col-md-4">
            <div class="card">
                <div class="box">
                    <div class="img">
                        <img src="static/user_files/me.jpg">
                    </div>
                    <h2>Graham Morby<br><span>Programmer</span></h2>
                    <p>HTML, CSS, PHP, Javascript, Python, Vue.js, Laravel, Flask</p>
                    <span>
                        <ul>
                            <li><a href="https://www.facebook.com/profile.php?id=100071347354883" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="https://twitter.com/GrahammorbyDev" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/%F0%9F%92%BB-graham-morby-19634a91/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.instagram.com/grahammorbydev/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        </ul>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}